body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.hidden{
    display: none;
}

button:hover{
    cursor: pointer;
}

input, label, button {
    margin-top: 10px;
}

input, button {
    border-radius: 5px;
}

.instructions {
    font-size: 12px;
    line-height: 0;
}